In [1]:
from QUANTAXIS.QAData.data_fq import QA_data_etf_to_fq
from QUANTAXIS.QAFetch.QAQuery import QA_fetch_etf_min

jqdatasdk not installed

In [7]:
sh50 = QA_fetch_etf_min("510050", "2010-01-01", "2030-01-01", format="pd")
sh50

,open,close,high,low,vol,amount,datetime,code,date,date_stamp,time_stamp,type,volume
datetime,,,,,,,,,,,,,
2021-03-11 09:40:00,3.556,3.551,3.566,3.546,22699100.0,80798040.0,2021-03-11 09:40:00,510050,2021-03-11,1.615392e+09,1.615427e+09,5min,22699100.0
2021-03-11 09:45:00,3.553,3.567,3.571,3.553,20905000.0,74504384.0,2021-03-11 09:45:00,510050,2021-03-11,1.615392e+09,1.615427e+09,5min,20905000.0
2021-03-11 09:50:00,3.567,3.590,3.591,3.566,34468600.0,123415776.0,2021-03-11 09:50:00,510050,2021-03-11,1.615392e+09,1.615427e+09,5min,34468600.0
2021-03-11 09:55:00,3.592,3.594,3.599,3.591,31407400.0,112923328.0,2021-03-11 09:55:00,510050,2021-03-11,1.615392e+09,1.615428e+09,5min,31407400.0
2021-03-11 10:00:00,3.593,3.596,3.606,3.592,22805200.0,82089312.0,2021-03-11 10:00:00,510050,2021-03-11,1.615392e+09,1.615428e+09,5min,22805200.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-04-28 14:40:00,2.675,2.678,2.678,2.675,8376300.0,22416950.0,2023-04-28 14:40:00,510050,2023-04-28,1.682611e+09,1.682664e+09,5min,8376300.0
2023-04-28 14:45:00,2.677,2.681,2.682,2.677,15606100.0,41828132.0,2023-04-28 14:45:00,510050,2023-04-28,1.682611e+09,1.682664e+09,5min,15606100.0
2023-04-28 14:50:00,2.681,2.681,2.683,2.679,6420700.0,17215760.0,2023-04-28 14:50:00,510050,2023-04-28,1.682611e+09,1.682665e+09,5min,6420700.0
2023-04-28 14:55:00,2.683,2.681,2.684,2.680,11840700.0,31754664.0,2023-04-28 14:55:00,510050,2023-04-28,1.682611e+09,1.682665e+09,5min,11840700.0
2023-04-28 15:00:00,2.680,2.680,2.681,2.678,17019400.0,45603936.0,2023-04-28 15:00:00,510050,2023-04-28,1.682611e+09,1.682665e+09,5min,17019400.0

In [6]:
sh50_hfq = QA_data_etf_to_fq(sh50, '02')
sh50_hfq

,open,close,high,low,vol,amount,datetime,code,date,date_stamp,time_stamp,type,volume,preclose,adj
2021-03-11 09:40:00,3.556,3.551,3.566,3.546,22699100.0,80798040.0,2021-03-11 09:40:00,510050,2021-03-11,1.615392e+09,1.615427e+09,5min,22699100.0,NaN,1.0
2021-03-11 09:45:00,3.553,3.567,3.571,3.553,20905000.0,74504384.0,2021-03-11 09:45:00,510050,2021-03-11,1.615392e+09,1.615427e+09,5min,20905000.0,3.551,1.0
2021-03-11 09:50:00,3.567,3.590,3.591,3.566,34468600.0,123415776.0,2021-03-11 09:50:00,510050,2021-03-11,1.615392e+09,1.615427e+09,5min,34468600.0,3.567,1.0
2021-03-11 09:55:00,3.592,3.594,3.599,3.591,31407400.0,112923328.0,2021-03-11 09:55:00,510050,2021-03-11,1.615392e+09,1.615428e+09,5min,31407400.0,3.590,1.0
2021-03-11 10:00:00,3.593,3.596,3.606,3.592,22805200.0,82089312.0,2021-03-11 10:00:00,510050,2021-03-11,1.615392e+09,1.615428e+09,5min,22805200.0,3.594,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-04-28 14:40:00,2.675,2.678,2.678,2.675,8376300.0,22416950.0,2023-04-28 14:40:00,510050,2023-04-28,1.682611e+09,1.682664e+09,5min,8376300.0,2.675,1.0
2023-04-28 14:45:00,2.677,2.681,2.682,2.677,15606100.0,41828132.0,2023-04-28 14:45:00,510050,2023-04-28,1.682611e+09,1.682664e+09,5min,15606100.0,2.678,1.0
2023-04-28 14:50:00,2.681,2.681,2.683,2.679,6420700.0,17215760.0,2023-04-28 14:50:00,510050,2023-04-28,1.682611e+09,1.682665e+09,5min,6420700.0,2.681,1.0
2023-04-28 14:55:00,2.683,2.681,2.684,2.680,11840700.0,31754664.0,2023-04-28 14:55:00,510050,2023-04-28,1.682611e+09,1.682665e+09,5min,11840700.0,2.681,1.0
2023-04-28 15:00:00,2.680,2.680,2.681,2.678,17019400.0,45603936.0,2023-04-28 15:00:00,510050,2023-04-28,1.682611e+09,1.682665e+09,5min,17019400.0,2.681,1.0

In [2]:
sh500 = QA_fetch_etf_min("510500", "2010-01-01", "2030-01-01", format="pd")
sh500

,open,close,high,low,vol,amount,datetime,code,date,date_stamp,time_stamp,type,volume
datetime,,,,,,,,,,,,,
2021-03-02 09:40:00,7.180,7.164,7.187,7.162,14910300.0,107060120.0,2021-03-02 09:40:00,510500,2021-03-02,1.614614e+09,1.614649e+09,5min,14910300.0
2021-03-02 09:45:00,7.164,7.150,7.168,7.147,11234300.0,80368816.0,2021-03-02 09:45:00,510500,2021-03-02,1.614614e+09,1.614650e+09,5min,11234300.0
2021-03-02 09:50:00,7.150,7.169,7.169,7.142,9855800.0,70547024.0,2021-03-02 09:50:00,510500,2021-03-02,1.614614e+09,1.614650e+09,5min,9855800.0
2021-03-02 09:55:00,7.163,7.161,7.169,7.154,19669600.0,140843680.0,2021-03-02 09:55:00,510500,2021-03-02,1.614614e+09,1.614650e+09,5min,19669600.0
2021-03-02 10:00:00,7.161,7.160,7.164,7.153,16431600.0,117654560.0,2021-03-02 10:00:00,510500,2021-03-02,1.614614e+09,1.614650e+09,5min,16431600.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-04-28 14:40:00,6.248,6.255,6.255,6.248,2631800.0,16452412.0,2023-04-28 14:40:00,510500,2023-04-28,1.682611e+09,1.682664e+09,5min,2631800.0
2023-04-28 14:45:00,6.254,6.260,6.260,6.252,3050300.0,19086188.0,2023-04-28 14:45:00,510500,2023-04-28,1.682611e+09,1.682664e+09,5min,3050300.0
2023-04-28 14:50:00,6.259,6.270,6.270,6.258,4106900.0,25719756.0,2023-04-28 14:50:00,510500,2023-04-28,1.682611e+09,1.682665e+09,5min,4106900.0
2023-04-28 14:55:00,6.270,6.268,6.276,6.267,15295000.0,95906504.0,2023-04-28 14:55:00,510500,2023-04-28,1.682611e+09,1.682665e+09,5min,15295000.0
2023-04-28 15:00:00,6.271,6.277,6.280,6.268,15453700.0,96944592.0,2023-04-28 15:00:00,510500,2023-04-28,1.682611e+09,1.682665e+09,5min,15453700.0

In [3]:
sh500_hfq = QA_data_etf_to_fq(sh500, '02')
sh500_hfq

,open,close,high,low,vol,amount,datetime,code,date,date_stamp,time_stamp,type,volume,suogu,preclose,adj
2021-03-02 09:40:00,7.180,7.164,7.187,7.162,14910300.0,107060120.0,2021-03-02 09:40:00,510500,2021-03-02,1.614614e+09,1.614649e+09,5min,14910300.0,0.0,NaN,1.0
2021-03-02 09:45:00,7.164,7.150,7.168,7.147,11234300.0,80368816.0,2021-03-02 09:45:00,510500,2021-03-02,1.614614e+09,1.614650e+09,5min,11234300.0,0.0,7.164,1.0
2021-03-02 09:50:00,7.150,7.169,7.169,7.142,9855800.0,70547024.0,2021-03-02 09:50:00,510500,2021-03-02,1.614614e+09,1.614650e+09,5min,9855800.0,0.0,7.150,1.0
2021-03-02 09:55:00,7.163,7.161,7.169,7.154,19669600.0,140843680.0,2021-03-02 09:55:00,510500,2021-03-02,1.614614e+09,1.614650e+09,5min,19669600.0,0.0,7.169,1.0
2021-03-02 10:00:00,7.161,7.160,7.164,7.153,16431600.0,117654560.0,2021-03-02 10:00:00,510500,2021-03-02,1.614614e+09,1.614650e+09,5min,16431600.0,0.0,7.161,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-04-28 14:40:00,6.248,6.255,6.255,6.248,2631800.0,16452412.0,2023-04-28 14:40:00,510500,2023-04-28,1.682611e+09,1.682664e+09,5min,2631800.0,0.0,6.249,1.0
2023-04-28 14:45:00,6.254,6.260,6.260,6.252,3050300.0,19086188.0,2023-04-28 14:45:00,510500,2023-04-28,1.682611e+09,1.682664e+09,5min,3050300.0,0.0,6.255,1.0
2023-04-28 14:50:00,6.259,6.270,6.270,6.258,4106900.0,25719756.0,2023-04-28 14:50:00,510500,2023-04-28,1.682611e+09,1.682665e+09,5min,4106900.0,0.0,6.260,1.0
2023-04-28 14:55:00,6.270,6.268,6.276,6.267,15295000.0,95906504.0,2023-04-28 14:55:00,510500,2023-04-28,1.682611e+09,1.682665e+09,5min,15295000.0,0.0,6.270,1.0
2023-04-28 15:00:00,6.271,6.277,6.280,6.268,15453700.0,96944592.0,2023-04-28 15:00:00,510500,2023-04-28,1.682611e+09,1.682665e+09,5min,15453700.0,0.0,6.268,1.0

In [2]:
sh159928 = QA_fetch_etf_min("159928", "2010-01-01", "2030-01-01", format="pd")
sh159928["2021-05-05":]

,open,close,high,low,vol,amount,datetime,code,date,date_stamp,time_stamp,type,volume
datetime,,,,,,,,,,,,,
2021-05-06 09:35:00,5.137,5.082,5.137,5.082,1632000.0,8320231.5,2021-05-06 09:35:00,159928,2021-05-06,1.620230e+09,1.620265e+09,5min,1632000.0
2021-05-06 09:40:00,5.082,5.088,5.107,5.078,2162300.0,11004012.0,2021-05-06 09:40:00,159928,2021-05-06,1.620230e+09,1.620265e+09,5min,2162300.0
2021-05-06 09:45:00,5.083,5.104,5.113,5.081,622300.0,3172554.0,2021-05-06 09:45:00,159928,2021-05-06,1.620230e+09,1.620266e+09,5min,622300.0
2021-05-06 09:50:00,5.101,5.111,5.118,5.098,668200.0,3413434.0,2021-05-06 09:50:00,159928,2021-05-06,1.620230e+09,1.620266e+09,5min,668200.0
2021-05-06 09:55:00,5.112,5.132,5.137,5.112,739600.0,3788908.0,2021-05-06 09:55:00,159928,2021-05-06,1.620230e+09,1.620266e+09,5min,739600.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-04-28 14:40:00,0.999,1.000,1.000,0.998,33511500.0,33502366.0,2023-04-28 14:40:00,159928,2023-04-28,1.682611e+09,1.682664e+09,5min,33511500.0
2023-04-28 14:45:00,1.000,1.001,1.001,0.999,30538800.0,30562008.0,2023-04-28 14:45:00,159928,2023-04-28,1.682611e+09,1.682664e+09,5min,30538800.0
2023-04-28 14:50:00,1.001,1.003,1.003,1.000,252927296.0,253555968.0,2023-04-28 14:50:00,159928,2023-04-28,1.682611e+09,1.682665e+09,5min,252927296.0
2023-04-28 14:55:00,1.003,1.002,1.003,1.001,29631100.0,29712660.0,2023-04-28 14:55:00,159928,2023-04-28,1.682611e+09,1.682665e+09,5min,29631100.0
2023-04-28 15:00:00,1.002,1.002,1.003,1.001,8983700.0,9001058.0,2023-04-28 15:00:00,159928,2023-04-28,1.682611e+09,1.682665e+09,5min,8983700.0

In [9]:
sh159928_hfq = QA_data_etf_to_fq(sh159928, '01')
sh159928_hfq["2021-06-25":"2021-06-26"]

,open,close,high,low,vol,amount,datetime,code,date,date_stamp,time_stamp,type,volume,suogu,preclose,adj
2021-06-25 09:35:00,1.233,1.233,1.243,1.230,8672500.0,10717467.0,2021-06-25 09:35:00,159928,2021-06-25,1.624550e+09,1.624585e+09,5min,8672500.0,4.0,1.235,1.0
2021-06-25 09:40:00,1.233,1.232,1.236,1.230,2501400.0,3083174.0,2021-06-25 09:40:00,159928,2021-06-25,1.624550e+09,1.624585e+09,5min,2501400.0,0.0,1.233,1.0
2021-06-25 09:45:00,1.232,1.239,1.240,1.232,2220600.0,2747042.0,2021-06-25 09:45:00,159928,2021-06-25,1.624550e+09,1.624586e+09,5min,2220600.0,0.0,1.232,1.0
2021-06-25 09:50:00,1.238,1.238,1.239,1.235,1205200.0,1491233.0,2021-06-25 09:50:00,159928,2021-06-25,1.624550e+09,1.624586e+09,5min,1205200.0,0.0,1.239,1.0
2021-06-25 09:55:00,1.238,1.237,1.239,1.234,2650800.0,3277494.0,2021-06-25 09:55:00,159928,2021-06-25,1.624550e+09,1.624586e+09,5min,2650800.0,0.0,1.238,1.0
2021-06-25 10:00:00,1.236,1.232,1.236,1.232,2352000.0,2900256.0,2021-06-25 10:00:00,159928,2021-06-25,1.624550e+09,1.624586e+09,5min,2352000.0,0.0,1.237,1.0
2021-06-25 10:05:00,1.232,1.230,1.232,1.229,2169500.0,2668870.0,2021-06-25 10:05:00,159928,2021-06-25,1.624550e+09,1.624587e+09,5min,2169500.0,0.0,1.232,1.0
2021-06-25 10:10:00,1.230,1.235,1.235,1.230,2217400.0,2730212.0,2021-06-25 10:10:00,159928,2021-06-25,1.624550e+09,1.624587e+09,5min,2217400.0,0.0,1.230,1.0
2021-06-25 10:15:00,1.235,1.239,1.239,1.235,1186400.0,1467782.0,2021-06-25 10:15:00,159928,2021-06-25,1.624550e+09,1.624587e+09,5min,1186400.0,0.0,1.235,1.0
2021-06-25 10:20:00,1.239,1.238,1.239,1.237,1069500.0,1324602.0,2021-06-25 10:20:00,159928,2021-06-25,1.624550e+09,1.624588e+09,5min,1069500.0,0.0,1.239,1.0
2021-06-25 10:25:00,1.238,1.241,1.241,1.238,1746800.0,2165224.0,2021-06-25 10:25:00,159928,2021-06-25,1.624550e+09,1.624588e+09,5min,1746800.0,0.0,1.238,1.0
2021-06-25 10:30:00,1.241,1.241,1.241,1.240,706800.0,876708.0,2021-06-25 10:30:00,159928,2021-06-25,1.624550e+09,1.624588e+09,5min,706800.0,0.0,1.241,1.0
2021-06-25 10:35:00,1.241,1.245,1.246,1.241,4605700.0,5728904.0,2021-06-25 10:35:00,159928,2021-06-25,1.624550e+09,1.624588e+09,5min,4605700.0,0.0,1.241,1.0
2021-06-25 10:40:00,1.246,1.245,1.248,1.245,4343000.0,5416072.0,2021-06-25 10:40:00,159928,2021-06-25,1.624550e+09,1.624589e+09,5min,4343000.0,0.0,1.245,1.0
2021-06-25 10:45:00,1.246,1.248,1.249,1.246,2394300.0,2987936.0,2021-06-25 10:45:00,159928,2021-06-25,1.624550e+09,1.624589e+09,5min,2394300.0,0.0,1.245,1.0
2021-06-25 10:50:00,1.248,1.250,1.251,1.248,4105900.0,5131420.0,2021-06-25 10:50:00,159928,2021-06-25,1.624550e+09,1.624589e+09,5min,4105900.0,0.0,1.248,1.0
2021-06-25 10:55:00,1.251,1.251,1.255,1.250,4967800.0,6227132.0,2021-06-25 10:55:00,159928,2021-06-25,1.624550e+09,1.624590e+09,5min,4967800.0,0.0,1.250,1.0
2021-06-25 11:00:00,1.250,1.251,1.252,1.250,2757900.0,3451528.0,2021-06-25 11:00:00,159928,2021-06-25,1.624550e+09,1.624590e+09,5min,2757900.0,0.0,1.251,1.0
2021-06-25 11:05:00,1.250,1.247,1.252,1.247,5587100.0,6985408.0,2021-06-25 11:05:00,159928,2021-06-25,1.624550e+09,1.624590e+09,5min,5587100.0,0.0,1.251,1.0
2021-06-25 11:10:00,1.247,1.246,1.248,1.246,1105500.0,1378736.0,2021-06-25 11:10:00,159928,2021-06-25,1.624550e+09,1.624591e+09,5min,1105500.0,0.0,1.247,1.0
2021-06-25 11:15:00,1.246,1.246,1.247,1.243,2357400.0,2935856.0,2021-06-25 11:15:00,159928,2021-06-25,1.624550e+09,1.624591e+09,5min,2357400.0,0.0,1.246,1.0
2021-06-25 11:20:00,1.246,1.247,1.248,1.245,510600.0,636336.0,2021-06-25 11:20:00,159928,2021-06-25,1.624550e+09,1.624591e+09,5min,510600.0,0.0,1.246,1.0
2021-06-25 11:25:00,1.247,1.249,1.249,1.246,1011600.0,1262336.0,2021-06-25 11:25:00,159928,2021-06-25,1.624550e+09,1.624592e+09,5min,1011600.0,0.0,1.247,1.0
2021-06-25 11:30:00,1.249,1.250,1.251,1.248,1403100.0,1753136.0,2021-06-25 11:30:00,159928,2021-06-25,1.624550e+09,1.624592e+09,5min,1403100.0,0.0,1.249,1.0
2021-06-25 13:05:00,1.250,1.252,1.253,1.249,2572200.0,3216256.0,2021-06-25 13:05:00,159928,2021-06-25,1.624550e+09,1.624598e+09,5min,2572200.0,0.0,1.250,1.0
2021-06-25 13:10:00,1.252,1.252,1.254,1.252,984100.0,1232944.0,2021-06-25 13:10:00,159928,2021-06-25,1.624550e+09,1.624598e+09,5min,984100.0,0.0,1.252,1.0
2021-06-25 13:15:00,1.252,1.250,1.252,1.250,676900.0,847032.0,2021-06-25 13:15:00,159928,2021-06-25,1.624550e+09,1.624598e+09,5min,676900.0,0.0,1.252,1.0
2021-06-25 13:20:00,1.251,1.253,1.253,1.251,649100.0,812640.0,2021-06-25 13:20:00,159928,2021-06-25,1.624550e+09,1.624598e+09,5min,649100.0,0.0,1.250,1.0
2021-06-25 13:25:00,1.253,1.254,1.254,1.252,1732200.0,2171592.0,2021-06-25 13:25:00,159928,2021-06-25,1.624550e+09,1.624599e+09,5min,1732200.0,0.0,1.253,1.0
2021-06-25 13:30:00,1.254,1.254,1.255,1.253,1027700.0,1289200.0,2021-06-25 13:30:00,159928,2021-06-25,1.624550e+09,1.624599e+09,5min,1027700.0,0.0,1.254,1.0
2021-06-25 13:35:00,1.255,1.255,1.255,1.254,1676100.0,2102624.0,2021-06-25 13:35:00,159928,2021-06-25,1.624550e+09,1.624599e+09,5min,1676100.0,0.0,1.254,1.0
2021-06-25 13:40:00,1.254,1.255,1.256,1.253,1517200.0,1903976.0,2021-06-25 13:40:00,159928,2021-06-25,1.624550e+09,1.624600e+09,5min,1517200.0,0.0,1.255,1.0
2021-06-25 13:45:00,1.256,1.255,1.257,1.255,1464000.0,1839120.0,2021-06-25 13:45:00,159928,2021-06-25,1.624550e+09,1.624600e+09,5min,1464000.0,0.0,1.255,1.0
2021-06-25 13:50:00,1.256,1.257,1.258,1.256,1341400.0,1686384.0,2021-06-25 13:50:00,159928,2021-06-25,1.624550e+09,1.624600e+09,5min,1341400.0,0.0,1.255,1.0
2021-06-25 13:55:00,1.258,1.258,1.259,1.257,690700.0,868928.0,2021-06-25 13:55:00,159928,2021-06-25,1.624550e+09,1.624600e+09,5min,690700.0,0.0,1.257,1.0
2021-06-25 14:00:00,1.257,1.259,1.259,1.257,726600.0,913824.0,2021-06-25 14:00:00,159928,2021-06-25,1.624550e+09,1.624601e+09,5min,726600.0,0.0,1.258,1.0
2021-06-25 14:05:00,1.258,1.258,1.260,1.258,1531800.0,1928848.0,2021-06-25 14:05:00,159928,2021-06-25,1.624550e+09,1.624601e+09,5min,1531800.0,0.0,1.259,1.0
2021-06-25 14:10:00,1.258,1.259,1.260,1.258,976800.0,1229568.0,2021-06-25 14:10:00,159928,2021-06-25,1.624550e+09,1.624601e+09,5min,976800.0,0.0,1.258,1.0
2021-06-25 14:15:00,1.259,1.259,1.260,1.259,982800.0,1237944.0,2021-06-25 14:15:00,159928,2021-06-25,1.624550e+09,1.624602e+09,5min,982800.0,0.0,1.259,1.0
2021-06-25 14:20:00,1.260,1.261,1.262,1.259,2379300.0,2998744.0,2021-06-25 14:20:00,159928,2021-06-25,1.624550e+09,1.624602e+09,5min,2379300.0,0.0,1.259,1.0
2021-06-25 14:25:00,1.262,1.261,1.262,1.260,1978000.0,2494856.0,2021-06-25 14:25:00,159928,2021-06-25,1.624550e+09,1.624602e+09,5min,1978000.0,0.0,1.261,1.0
2021-06-25 14:30:00,1.261,1.259,1.261,1.259,1633400.0,2057952.0,2021-06-25 14:30:00,159928,2021-06-25,1.624550e+09,1.624603e+09,5min,1633400.0,0.0,1.261,1.0
2021-06-25 14:35:00,1.259,1.256,1.259,1.256,2881300.0,3622816.0,2021-06-25 14:35:00,159928,2021-06-25,1.624550e+09,1.624603e+09,5min,2881300.0,0.0,1.259,1.0
2021-06-25 14:40:00,1.256,1.256,1.257,1.255,1490100.0,1872024.0,2021-06-25 14:40:00,159928,2021-06-25,1.624550e+09,1.624603e+09,5min,1490100.0,0.0,1.256,1.0
2021-06-25 14:45:00,1.256,1.257,1.258,1.256,2068200.0,2598672.0,2021-06-25 14:45:00,159928,2021-06-25,1.624550e+09,1.624604e+09,5min,2068200.0,0.0,1.256,1.0
2021-06-25 14:50:00,1.257,1.260,1.261,1.257,24406300.0,30721192.0,2021-06-25 14:50:00,159928,2021-06-25,1.624550e+09,1.624604e+09,5min,24406300.0,0.0,1.257,1.0
2021-06-25 14:55:00,1.260,1.259,1.261,1.258,18671700.0,23534432.0,2021-06-25 14:55:00,159928,2021-06-25,1.624550e+09,1.624604e+09,5min,18671700.0,0.0,1.260,1.0
2021-06-25 15:00:00,1.259,1.261,1.261,1.258,4434300.0,5585792.0,2021-06-25 15:00:00,159928,2021-06-25,1.624550e+09,1.624604e+09,5min,4434300.0,0.0,1.259,1.0

In [16]:
sh159928_hfq.query('low==1.001 or low==1.0')

,open,close,high,low,vol,amount,datetime,code,date,date_stamp,time_stamp,type,volume,preclose,adj
2023-04-28 14:50:00,1.001,1.003,1.003,1.000,252927296.0,253555968.0,2023-04-28 14:50:00,159928,2023-04-28,1.682611e+09,1.682665e+09,5min,252927296.0,1.001,1.0
2023-04-28 14:55:00,1.003,1.002,1.003,1.001,29631100.0,29712660.0,2023-04-28 14:55:00,159928,2023-04-28,1.682611e+09,1.682665e+09,5min,29631100.0,1.003,1.0
2023-04-28 15:00:00,1.002,1.002,1.003,1.001,8983700.0,9001058.0,2023-04-28 15:00:00,159928,2023-04-28,1.682611e+09,1.682665e+09,5min,8983700.0,1.002,1.0

In [12]:
sh159928["close"].shift(1)

datetime
2021-03-04 09:40:00      NaN
2021-03-04 09:45:00    5.089
2021-03-04 09:50:00    5.082
2021-03-04 09:55:00    5.087
2021-03-04 10:00:00    5.089
                       ...
2023-04-28 14:40:00    0.999
2023-04-28 14:45:00    1.000
2023-04-28 14:50:00    1.001
2023-04-28 14:55:00    1.003
2023-04-28 15:00:00    1.002
Name: close, Length: 25199, dtype: float64

In [14]:
from QUANTAXIS.QAUtil.QASetting import QA_Setting
import pandas as pd

In [10]:
QASETTING = QA_Setting()
DATABASE = QASETTING.client.quantaxis
client = DATABASE
coll = client.index_min

In [11]:
coll

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'quantaxis'), 'index_min')

In [12]:
collections=DATABASE.etf_xdxr

In [15]:
            data = pd.DataFrame(
                [item for item in collections.find({'code': "159928"})]
            ).drop(['_id'],
                   axis=1)
            data['date'] = pd.to_datetime(data['date'], utc=False)
            xdxr = data.set_index(['date', 'code'], drop=False)

In [47]:
            data = pd.DataFrame(
                [item for item in collections.find({'code': "159928"})]
            ).drop(['_id'],
                   axis=1)
            data["date"] = data["date"].map(lambda x: x+ " 09:35:00")
            data['date'] = pd.to_datetime(data['date'], utc=False)
            xdxr = data.set_index(['date'], drop=False)
            xdxr

,category,name,fenhong,peigujia,songzhuangu,peigu,suogu,liquidity_before,liquidity_after,shares_before,shares_after,fenshu,xingquanjia,date,category_meaning,code
date,,,,,,,,,,,,,,,,
2021-06-25 09:35:00,11,扩缩股,None,None,None,None,4.0,None,None,None,None,None,None,2021-06-25 09:35:00,扩缩股,159928

In [37]:
data1["date"].map(lambda x: x+ " 09-35-00")

0    2021-06-25 09-35-00
Name: date, dtype: object

In [17]:
bfq_data = sh159928.assign(if_trade=1)

In [48]:
info = xdxr.query('category==1 or category==11')

In [49]:
data = pd.concat(
            [
                bfq_data,
                info.loc[bfq_data.index[0]:bfq_data.index[-1],
                         ['category']]
            ],
            axis=1
        )

data['if_trade'].fillna(value=0, inplace=True)
data = data.fillna(method='ffill')

data = pd.concat(
    [
        data,
        info.loc[bfq_data.index[0]:bfq_data.index[-1],
                 ['fenhong',
                  'peigu',
                  'peigujia',
                  'songzhuangu',
                  'suogu'
                  ]]
    ],
    axis=1
)

In [52]:
data["2021-06-24": ]

,open,close,high,low,vol,amount,datetime,code,date,date_stamp,time_stamp,type,volume,if_trade,category,fenhong,peigu,peigujia,songzhuangu,suogu
2021-06-24 09:35:00,4.929,4.923,4.934,4.904,1837800.0,9036452.0,2021-06-24 09:35:00,159928,2021-06-24,1.624464e+09,1.624498e+09,5min,1837800.0,1,NaN,NaN,NaN,NaN,NaN,NaN
2021-06-24 09:40:00,4.923,4.901,4.923,4.901,1460100.0,7164663.0,2021-06-24 09:40:00,159928,2021-06-24,1.624464e+09,1.624499e+09,5min,1460100.0,1,NaN,NaN,NaN,NaN,NaN,NaN
2021-06-24 09:45:00,4.901,4.892,4.901,4.887,1431200.0,7003505.0,2021-06-24 09:45:00,159928,2021-06-24,1.624464e+09,1.624499e+09,5min,1431200.0,1,NaN,NaN,NaN,NaN,NaN,NaN
2021-06-24 09:50:00,4.890,4.890,4.899,4.889,901800.0,4412396.0,2021-06-24 09:50:00,159928,2021-06-24,1.624464e+09,1.624499e+09,5min,901800.0,1,NaN,NaN,NaN,NaN,NaN,NaN
2021-06-24 09:55:00,4.889,4.896,4.896,4.881,1307400.0,6386592.0,2021-06-24 09:55:00,159928,2021-06-24,1.624464e+09,1.624500e+09,5min,1307400.0,1,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-04-28 14:40:00,0.999,1.000,1.000,0.998,33511500.0,33502366.0,2023-04-28 14:40:00,159928,2023-04-28,1.682611e+09,1.682664e+09,5min,33511500.0,1,11.0,NaN,NaN,NaN,NaN,NaN
2023-04-28 14:45:00,1.000,1.001,1.001,0.999,30538800.0,30562008.0,2023-04-28 14:45:00,159928,2023-04-28,1.682611e+09,1.682664e+09,5min,30538800.0,1,11.0,NaN,NaN,NaN,NaN,NaN
2023-04-28 14:50:00,1.001,1.003,1.003,1.000,252927296.0,253555968.0,2023-04-28 14:50:00,159928,2023-04-28,1.682611e+09,1.682665e+09,5min,252927296.0,1,11.0,NaN,NaN,NaN,NaN,NaN
2023-04-28 14:55:00,1.003,1.002,1.003,1.001,29631100.0,29712660.0,2023-04-28 14:55:00,159928,2023-04-28,1.682611e+09,1.682665e+09,5min,29631100.0,1,11.0,NaN,NaN,NaN,NaN,NaN
2023-04-28 15:00:00,1.002,1.002,1.003,1.001,8983700.0,9001058.0,2023-04-28 15:00:00,159928,2023-04-28,1.682611e+09,1.682665e+09,5min,8983700.0,1,11.0,NaN,NaN,NaN,NaN,NaN

In [22]:
xdxr

,,category,name,fenhong,peigujia,songzhuangu,peigu,suogu,liquidity_before,liquidity_after,shares_before,shares_after,fenshu,xingquanjia,date,category_meaning,code
date,code,,,,,,,,,,,,,,,,
2021-06-25,159928,11,扩缩股,None,None,None,None,4.0,None,None,None,None,None,None,2021-06-25,扩缩股,159928

In [28]:
info.loc[bfq_data.index[0]:bfq_data.index[-1],
                         ['category']]

                   category
date       code
2021-06-25 159928        11