In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import akshare as ak
import datetime
import glob

stock_hsgt_north_acc_flow_in_em_df = ak.stock_hsgt_north_acc_flow_in_em(symbol="沪股通")

/usr/lib/python3/dist-packages/requests/__init__.py:89: RequestsDependencyWarning: urllib3 (1.26.14) or chardet (3.0.4) doesn't match a supported version!
  warnings.warn("urllib3 ({}) or chardet ({}) doesn't match a supported "

In [4]:
?ak.stock_hsgt_north_acc_flow_in_em

In [2]:
stock_hsgt_north_acc_flow_in_em_df

            date         value
0     2014-11-17  1.300000e+06
1     2014-11-18  1.784500e+06
2     2014-11-19  2.045700e+06
3     2014-11-20  2.273300e+06
4     2014-11-21  2.507400e+06
...          ...           ...
1909  2023-02-13  2.125420e+08
1910  2023-02-14  2.127294e+08
1911  2023-02-15  2.126202e+08
1912  2023-02-16  2.130300e+08
1913  2023-02-17  2.131974e+08

[1914 rows x 2 columns]